<phpunit 
    convertErrorsToExceptions="true" 
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    colors="true"
    bootstrap="bootstrap.php"
>
    <testsuite name="Testes">
        <directory>./</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="testdox-text" target="data/testdox.txt" />
</phpunit>
