nbproject/*
nbproject/private/
www/arq/**/*
www/arq/**/!.htaccess
www/Cache/**/*
www/Cache/**/!.htaccess
www/Ini/**/*
www/Ini/**/!config.php
www/Ini/**/!.htaccess
www/Ini/**/!.htaccess
www/mod/usuario_social/*
www/DAO/Usuario.Social.**/*