**.sublime-**
error_log
*.log
composer.lock
nbproject/**
docs/**
test/data/**
.vagrant/**
www/static/globals/components/**
www/Lib/**
www/Temp/**
www/arq/**/*
www/arq/**/!.htaccess
www/media/**/*
www/media/**/!.htaccess
www/Cache/**/*
www/Cache/**/!.htaccess
www/Ini/**/*
www/Ini/!config.php
www/Ini/!.htaccess
www/Ini/**/!.htaccess
www/Ini/**/!.htaccess
www/mod/social/*
www/DAO/Social.**/*
